# Database
DB_NAME=wiki 
DB_USER=wikiuser
DB_PASSWORD=change_me 

# Wiki location
WIKI_PORT=8080

# Admin credentials
ADMIN_USER=admin
ADMIN_PASS=adminpassword

# Secrets
MEDIAWIKI_SECRET=change_me

# AWS S3 Configuration
AWS_DOMAIN=http://localhost:9000/repair-wiki
AWS_BACKEND_DOMAIN=http://s3:9000
AWS_ACCESS_KEY_ID=change_me
AWS_SECRET_ACCESS_KEY=change_me
AWS_BUCKET_NAME=repair-wiki
# AWS_REGION=

# Wiki
WIKI_CAPTCHA_SITE=10000000-ffff-ffff-ffff-000000000001
WIKI_CAPTCHA_KEY=0x0000000000000000000000000000000000000000
WIKI_SKIN=Citizen
DISCORD_WEBHOOK="" # Discord webhook that announces edits

WIKI_NO_REPLY_EMAIL=no-reply@repair.wiki
WIKI_EMERGENCY_EMAIL=team@repair.wiki

# All these values below needs to be added to docker-compose.dev.yml to have an effect
# WIKI_SITE_NAME=""  # Changes the sitename, if not passed defaults to `Repair Wiki`
# WIKI_META_NAMESPACE=""0 # Changes the meta namespace, if not passed defaults to `RepairWiki`

# ENABLE_CONFIRM_ACCOUNT="" # Enables `ConfirmAccount` extension

# Wiki SMTP configuration
# WIKI_EMAIL_HOST
# WIKI_EMAIL_IDHOST
# WIKI_EMAIL_USER
# WIKI_EMAIL_PASSWORD